body {
    margin-top: 50px;
    background-color: rgb(159, 161, 252);
}
h1 {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}
a {
    background-color: white;
    text-color: rgb(48, 66, 255);
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    outline-color: rgb(210, 210, 252);
}
a.hover {
    background-color: rgb(48, 66, 255);
    text-color: rgb(252, 141, 219);
}
p {
    font-family: Helvetica;
    text-align: left;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: 200px;
}

