body {
    margin-top: 50px;
    background-color: rgb(159, 161, 252);
}
h {
    font-family: Brush Script MT;
}
.content {
    align-items: center;
    margin: 10% auto;
}
p {
    font-family: Helvetica;
    text-align: left;
}
.btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    padding: 15px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
}

.hero{
    width: 80%
    height: 450px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;

}

#About Me{
    transform: translateX(0px)
}